* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(168, 164, 162, 0.7), rgba(168, 164, 162, 0)), url("https://player.vimeo.com/external/439043159.sd.mp4?s=575e15e3de97aba7eb6cdaf7a96d24f7506e0dc8&profile_id=164&oauth2_token_id=57447761");
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid rgba(64, 64, 56, 0.7098039216);
}
.home__name--last {
  color: rgba(64, 64, 56, 0.7098039216);
  font-weight: 700;
  font-family: "Indie Flower", cursive;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: white;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 30vh;
  overflow: hidden;
  background: rgba(168, 164, 162, 0.7647058824);
  list-style-type: none;
  transform: translateY(-100%);
  transition: all 0.6s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.6s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: rgba(64, 64, 56, 0.7098039216);
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 0;
  transition: all 0.6s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: rgba(64, 64, 56, 0.7098039216);
}

.about {
  padding-bottom: 2rem;
}
.about__bio-video {
  height: 80vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(168, 164, 162, 0.5), rgba(168, 164, 162, 0)), url("https://images.pexels.com/photos/1931154/pexels-photo-1931154.jpeg?auto=compress&cs=tinysrgb&w=1200") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__bio-video p {
  margin-bottom: 2rem;
}
.about__bio {
  width: 80%;
  text-align: justify;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
  text-align: center;
}
.about .about__img {
  position: absolute;
  z-index: 9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  top: 60vh;
  margin-left: 40vw;
}
.about .jobs {
  width: 60vw;
  margin: 10rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: rgba(193, 190, 188, 0.7647058824);
  padding: 0.5rem;
  border-bottom: 5px solid rgba(64, 64, 56, 0.7098039216);
}
.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}

.projects__bio-image {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(168, 164, 162, 0.7), rgba(168, 164, 162, 0)), url("https://images.pexels.com/photos/68562/pexels-photo-68562.jpeg?auto=compress&cs=tinysrgb&w=800") center top;
  background-size: cover;
}
.projects__bio-image .text-secondary {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 10%;
}
.projects__items {
  margin-top: -5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projects__item {
  position: relative;
  width: 25%;
  height: 25%;
  border: 5px SOLID #ddd;
  border-radius: 4px;
  border-bottom: 5px solid rgba(64, 64, 56, 0.7098039216);
  overflow: hidden;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
  height: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(64, 64, 56, 0.7098039216);
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__item:hover .projects__btn {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects__btn {
  opacity: 0;
  color: set-text-color(rgba(64, 64, 56, 0.7098039216));
  transition: all 0.6s ease-in-out;
}
.projects__btn:hover {
  color: set-text-color(set-text-color(rgba(64, 64, 56, 0.7098039216)));
}
.projects .social-icons {
  display: flex;
  flex-direction: row;
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(168, 164, 162, 0.9), rgba(168, 164, 162, 0.3)), url("https://images.pexels.com/photos/1903963/pexels-photo-1903963.jpeg?auto=compress&cs=tinysrgb&w=1200") center top;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, rgba(168, 164, 162, 0.7), rgba(168, 164, 162, 0.3)), url("https://player.vimeo.com/external/494390849.sd.mp4?s=98c1c586f4677d104d2b5288c52d8dd18ea293ef&profile_id=165&oauth2_token_id=57447761");
    background-size: 150%;
    background-position: top;
  }
  .home__name {
    width: 40vw;
    font-size: 2rem;
    margin-top: -20%;
  }
  .home__title {
    width: 30vw;
    line-height: 5vh;
  }
  .about__bio {
    font-size: 1.5rem;
    padding-top: 40vh;
  }
  .about__img {
    position: relative;
    width: 450px;
    top: 100vh;
    margin-right: 40vw;
  }
  .projects__bio-image {
    background: linear-gradient(to right, rgba(168, 164, 162, 0.3), rgba(168, 164, 162, 0)), url("https://images.pexels.com/photos/4466420/pexels-photo-4466420.jpeg?auto=compress&cs=tinysrgb&w=800") center top;
    background-size: cover;
    height: 100%;
  }
  .projects__items {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__item {
    width: 65%;
    height: auto;
    margin-bottom: 10%;
  }
  .projects .text-secondary {
    font-size: 2.5rem;
    padding-top: 30%;
  }
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
body {
  background: rgba(168, 164, 162, 0.7647058824);
  color: white;
  height: 100vh;
  font-family: "Public Sans", sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  color: rgba(64, 64, 56, 0.7098039216);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.6s ease-in-out;
}
main .social-icons a:hover {
  color: rgba(64, 64, 56, 0.7098039216);
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: white;
}/*# sourceMappingURL=main.css.map */