.home {
  height: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.5),
      rgba($primary-color, 0)
    ),
    url("https://player.vimeo.com/external/439043159.sd.mp4?s=575e15e3de97aba7eb6cdaf7a96d24f7506e0dc8&profile_id=164&oauth2_token_id=57447761");

  background-size: 160%;
  background-position: center;

  &__logo {
    width: 40%;
    align-items: center;
    padding-top: 25vh;
  }
}
