@include media-sm {
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    video {
      display: none;
    }
    background: url("/images/Untitled\ design.png");
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

    &__logo {
      width: 80vw;
      align-items: center;
      padding-top: 35vh;
    }
  }

  .about {
    &__bio-image {
      height: 40vh;
      width: 100%;
      margin: 0;
    }
    &__bio {
      display: none;
    }
  }
  .experience {
    &__item-mobile {
      h2 {
        text-align: center;
      }
    }
  }

  .projects {
    &__bio-image {
      background-size: cover;
      height: 100%;
    }
    &__items {
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 65%;
      height: auto;
      margin-bottom: 10%;
    }
    .text-secondary {
      font-size: 2.5rem;
      padding-top: 30%;
    }
  }

  .contact__list {
  }
}
