@include media-md {
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.2)
      ),
      url("https://player.vimeo.com/external/494390849.sd.mp4?s=98c1c586f4677d104d2b5288c52d8dd18ea293ef&profile_id=165&oauth2_token_id=57447761");

    background-size: cover;
    background-position: top;

    &__name {
      width: 30vw;
      font-size: 2rem;
      margin-top: -20%;
    }
    &__title {
      width: 30vw;
      line-height: 5vh;
    }
  }

  .about__bio {
    font-size: 1.5rem;
    padding-top: 40vh;
  }
  .about__img {
    position: relative;
    width: 450px;
    top: 100vh;
    margin-right: 40vw;
  }

  .projects {
    &__bio-image {
      background: linear-gradient(
          to right,
          rgba($primary-color, 0.5),
          rgba($primary-color, 0)
        ),
        url("https://images.pexels.com/photos/4466176/pexels-photo-4466176.jpeg?auto=compress&cs=tinysrgb&w=800")
          center top;
      background-size: cover;
      height: 100%;
    }
    &__items {
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 65%;
      height: auto;
      margin-bottom: 10%;
    }
    .text-secondary {
      font-size: 2.5rem;
      padding-top: 30%;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
