@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(188, 187, 184, 0.3), rgba(188, 187, 184, 0)), url("https://player.vimeo.com/external/439043159.sd.mp4?s=575e15e3de97aba7eb6cdaf7a96d24f7506e0dc8&profile_id=164&oauth2_token_id=57447761");
  background-size: 160%;
  background-position: center;
}
.home__logo {
  width: 40%;
  align-items: center;
  padding-top: 25vh;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: white;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: white;
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 30vh;
  overflow: hidden;
  background: rgba(188, 187, 184, 0.5843137255);
  list-style-type: none;
  transform: translateY(-100%);
  transition: all 0.6s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.6s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #edff00;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem 0;
  transition: all 0.6s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #edff00;
}

.about {
  padding-bottom: 2rem;
  background: url("https://images.pexels.com/photos/6794876/pexels-photo-6794876.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.about__bio-image {
  height: 70vh;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background: linear-gradient(to right, rgba(188, 187, 184, 0.5), rgba(188, 187, 184, 0.2)), url("/images/IMG_3918.jpeg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about__bio-image p {
  margin-bottom: 2rem;
}
.about__bio {
  width: 80%;
  text-align: center;
}
.about__bio .text-secondary {
  padding-bottom: 1rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: rgba(213, 212, 210, 0.5843137255);
  padding: 0.5rem;
  border-bottom: 5px solid #edff00;
}
.about .jobs__job h2 {
  text-align: center;
}
.about .jobs__job h2,
.about .jobs__job h3 {
  margin: 0.5rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0;
}
.about .jobs__job-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about .jobs__job-skills li {
  list-style: circle;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects__bio-image {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(188, 187, 184, 0.4), rgba(188, 187, 184, 0.1)), url("https://images.pexels.com/photos/6794876/pexels-photo-6794876.jpeg?auto=compress&cs=tinysrgb&w=1200") center top;
  background-size: cover;
}
.projects__bio-image .text-secondary {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 10%;
}
.projects__items {
  margin-top: -5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projects__item {
  position: relative;
  width: 25%;
  height: 25%;
  border: 5px solid #ddd;
  border-radius: 4px;
  border-bottom: 1px solid rgba(188, 187, 184, 0.5843137255);
  overflow: hidden;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
  height: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(188, 187, 184, 0.5843137255);
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__item:hover .projects__btn {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.projects__btn {
  opacity: 0;
  color: set-text-color(#edff00);
  transition: all 0.6s ease-in-out;
}
.projects__btn:hover {
  color: set-text-color(set-text-color(#edff00));
}
.projects .social-icons {
  display: flex;
  flex-direction: row;
}

.contact {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgba(188, 187, 184, 0.9), rgba(188, 187, 184, 0.2)), url("https://player.vimeo.com/external/478644461.sd.mp4?s=2b38cb7c76e64b4a24b544149440d96a119b4d98&profile_id=164&oauth2_token_id=57447761") center top;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, rgba(188, 187, 184, 0.7), rgba(188, 187, 184, 0.3)), url("https://player.vimeo.com/external/494390849.sd.mp4?s=98c1c586f4677d104d2b5288c52d8dd18ea293ef&profile_id=165&oauth2_token_id=57447761");
    background-size: 150%;
    background-position: top;
  }
  .home__name {
    width: 40vw;
    font-size: 2rem;
    margin-top: -20%;
  }
  .home__title {
    width: 30vw;
    line-height: 5vh;
  }
  .home__logo {
    width: 80vw;
    align-items: center;
    padding-top: 40vh;
  }
  .about__bio-image {
    height: 60vh;
    width: 100%;
    margin: 0;
  }
  .projects__bio-image {
    background-size: cover;
    height: 100%;
  }
  .projects__items {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__item {
    width: 65%;
    height: auto;
    margin-bottom: 10%;
  }
  .projects .text-secondary {
    font-size: 2.5rem;
    padding-top: 30%;
  }
}
body {
  background: rgba(188, 187, 184, 0.5843137255);
  color: white;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.3;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: white;
  text-decoration: none;
}

.text-secondary {
  color: #edff00;
}

.text-contact {
  color: #afb700;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.6s ease-in-out;
}
main .social-icons a:hover {
  color: #edff00;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: white;
}/*# sourceMappingURL=main.css.map */